form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email {
    padding-bottom: 40px;
}
label {
display:flex;
flex-direction: column;
margin-bottom:10px;
border-radius:5px;
font-family: roboto;
font-weight: bold;
color: white;
text-align: center;
font-size: 18px;
}