.cabecalho img{
    width: 153px;
    height: 45px;
    margin-left:40px;
}

.links-cabecalho a{
    padding:13px;
    text-decoration: none;
    color:black
}

#home{
    color:red;
    font-weight: bold;
}
.banner{
    background-image: url("../imagens/banner.jpg"); 
    background-size: cover;
    width: 100vw;
    height: 100vh;  
}
.fundo{
    
    width: 100vw;
    height: 100vh;  
    
}
body {
    overflow: hidden;
}
.banner h1{
    color:red;
}
.banner button{
    width: 200px;
    color: black;
    background-color: burlywood;
    margin-top: 30px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
.banner button:hover { 
    color: rgb(15, 6, 6);
    background-color:#74ecb4;
    border: none;
    border-radius: 12px;
    transition: 0.4s;
    font-weight: bold;
}

.banner-detalhe-filme img{
    background-size:cover;
    height: 350px;
    width:100%;  
    
}
.corpo-detalhe{
    padding:70px;
}

form {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.email {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.senha {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom:5px;
    border-radius:5px;
    font-family: roboto;
    font-weight: bold;
    color: black;
    font-size: 45px;
}
.form-control {
    width: 250px;
    height: 30px;
    margin-left: 20px;
}
.form-control:hover {
    transform: scale(1.2);
    border-radius: 10px;
}
.label-email {
    margin-left: 15px;
}
.label-senha {
    margin-left: 15px;
}
.style-form {
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border-radius: 15px;
}
