footer {
    width: 100%;
    display: flex;
    text-align: center;
    gap: 30px;
    background-color: aquamarine;
    height: 100px;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
}