/*Estilos Cabeçalho*/
.cabecalho img{
    width: 153px;
    height: 45px;
    margin-left:40px;
}

/*Estilo rodapé */
.rodape {
    height: 20%;
    color: white;
}
.col {
    text-align: center;
}
.link-rodape {
    padding: 5px;
}
.linkedin {
    width: 5px;
    height: 5px;
}
